{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />

    {% stylesheets
    '@AdminBundle/Resources/public/bootstrap/bootstrap.min.css'
    '@AdminBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

</head>

<body class="bg-dark">
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">

            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('admin_login') }}" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input class="form-control" id="username" type="text" name="_username" value="{{ last_username }}" aria-describedby="emailHelp" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control" type="password" id="password" name="_password"  placeholder="Password">
                </div>

                {#<div class="form-group">#}
                    {#<div class="form-check">#}
                        {#<label class="form-check-label">#}
                            {#<input class="form-check-input" type="checkbox"> Remember Password</label>#}
                    {#</div>#}
                {#</div>#}

                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <button type="submit"  class="btn btn-primary btn-block">Login</button>
            </form>

            <div class="text-center">
                {#<a class="d-block small mt-3" href="register.html">Register an Account</a>#}
                {#<a class="d-block small" href="forgot-password.html">Forgot Password?</a>#}
            </div>
        </div>
    </div>
</div>

{% javascripts
'@AdminBundle/Resources/public/jquery/jquery.min.js'
'@AdminBundle/Resources/public/jquery/jquery.easing.min.js'
'@AdminBundle/Resources/public/bootstrap/bootstrap.bundle.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>

</html>
